main {
  padding: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 450px;
  width: 450px;
  border: none;
  border-radius: 120px;
  background: var(--primaryColor);
}
.column {
  height: 380px;
  width: 100%;
  border-right: var(--buleColor) 5px double;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 100%;
  border-bottom: var(--buleColor) 5px double;
}
.table div:nth-child(3) {
  border: none;
}
